<div class="befaft-section mt-5">
    <h3>{{ .Get "title" }}</h3>
    <p>
        {{ .Inner }}.
    </p>    

    <div class="row">

        <div class="col-lg-6">

            <div class="before">

                <img class="content-image img-thumbnail portfolio-item-thumb" alt="portfolio-thumb" src="{{ .Get "befimage" | absURL}}">

            </div>

        </div>

        <div class="col-lg-6">

            <div class="after">

                <img class="content-image img-thumbnail portfolio-item-thumb" alt="portfolio-thumb" src="{{ .Get "aftimage" | absURL}}">

            </div>

        </div>

    </div>
    
</div>
